<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="https://engsound.webex.com/engsound/p.php" method="post">
    <% @partner.each do |k, v| %>
      <%= k %>
      <input type="text" name="<%= k %>" value="<%= v %>"><br>
    <% end %>
    <input type="submit">
  </form>
</body>
</html>
